body {
    font-size: 15pt;
    background-color: orange;
}
header{
  background-color: skyblue;
}
nav{
  background-color: green;
}
section{
  background-color: rosybrown;
}
img{
  width: 30%;
}
.foto1{
  background-color: gold;
}
audio{
  width: 90%;
}
video{
  width: 90%;
}
footer{
  background-color: blueviolet;
}
